name: Hello World Workflow

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Or trigger on push to main branch:
  # push:
  #   branches: [ main ]

jobs:
  say-hello:
    runs-on: ubuntu-latest # Runs on a Linux runner
    steps:
      - name: Checkout code # Step to get your code on the runner
        uses: actions/checkout@v3
      - name: Say Hello
        run: echo "Hello, World!" # The actual command
